/* Small Screen */
.container {
  background-color: #B81D24;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footer__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footer__author {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Medium Screen */
@media (min-width: 768px) {
  /*
   * Nothing TODO here.
   * We dont change styling footer. 
   */
}

/* Large Screen */
@media (min-width: 992px) {
  /*
   * Nothing TODO here.
   * We dont change styling footer. 
   */
  .container {
    padding: 1.5rem;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__title, .footer__author {
    margin-bottom: 0;
  }
}