/* Small Screen */
.container {
  margin: 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__left {
  margin-bottom: 1rem;
}

.hero__title {
  color: #E50914;
  margin-bottom: 1rem;
  font-size: 2.44rem;
}

.hero__genre {
  color: #B81D24;
  margin-bottom: 1rem;
  font-size: 1.59rem;
}

.hero__description {
  color: #F5F5F1;
  margin-bottom: 1rem;
}

.hero__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #E50914;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero__button:hover {
  background-color: #B81D24;
  transition: all 0.3s ease-in-out;
}

.hero__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

/* Medium Screen */
@media (min-width: 768px) {
  /*
   * Nothing TODO Here.
   * We dont change style Hero. 
   */
}

/* Large Screen */
@media (min-width: 992px) {
  .hero__bg {
    position: relative;
  }

  .hero__bgimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;
    filter: blur(100px);
    z-index: -1;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto 3rem;
    padding: 6rem 0;
  }

  .hero {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .hero__left {
    flex-basis: 40%;
  }
}